<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Projet_Web_Quizzeo/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [L]
</IfModule>
